# requirements.txt
streamlit
fastapi
uvicorn
python-multipart
langchain
chromadb
sentence-transformers
torch==2.5.1
transformers
pypdf
python-docx
docx2txt
tiktoken
numpy
tqdm
python-dotenv
pydantic
plotly
huggingface_hubp
accelerate
bitsandbytes
timm
tokenizers
deepeval
datasets
